.card {
    -fx-background-color: white;
    -fx-padding: 20;
    -fx-background-radius: 10;
    -fx-border-radius: 10;

    -fx-effect: dropshadow(
        gaussian,
        rgba(0,0,0,0.2),
        20,
        0.3,
        0,
        5
    );
}